@import '../variables.scss';
footer {
    background-color: $grayColor;
}

.footer-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 50px;
    line-height: 1.7;
    color: $whiteColor;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5%;
}

.svg-inline--fa {
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        justify-content: space-between;
        flex-direction: row;
        font-size: 18px;
        padding-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer-container {
        justify-content: space-between;
        flex-direction: row;
        font-size: 18px;
    }
}

